<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Employee details</title>
</head>
<style>
	
	body{
		background-color: lightpink;
	}
	footer{
		
		height: 220px;
		background-color: black;
		color:white;
		font-size: 30px;

	}
	h1{
		color:#944E63;
	}
#s1{
color:darkred;
}

#s2{
color:darkblue;
}

#s3{
color:darkgoldenrod;
}

#s4{
color:darkviolet;
}
h4{
	color:magenta;
}

</style>
<body>

<center><h1>Welcome {{na}}</h1>
<h2>your details are:</h2>

<h3>name:<span id='s1'>{{na}}</span></h3>
<h3>salary:<span id='s2'>{{sa}}</span></h3>
<h3>company:<span id='s3'>{{com}}</span></h3>
<h3>designation:<span id='s4'>{{des}}</span></h3>

<h4><marquee>thanks for visiting us!!!....</marquee></h4>
</center>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>

<center><footer>&copy NGCode</footer></center>
</body>
</html>